<footer>
  <div class="" >
    <p><b>Made with ❤️ by Kusum</b></p>
    <br>
    <a href="https://twitter.com/kusumpriya3" class="fa fa-twitter fa-lg"></a>
    <a href="https://github.com/kusumpriya19" class="fa fa-github fa-lg"></a>
    <a href="https://www.linkedin.com/in/kusum-priya/" class="fa fa-linkedin fa-lg"></a>
  </div>
</footer>
</html>
