<footer>
  <div class="centered" >
    Made with ❤️ by Kusum
    <br>
    <a href="https://twitter.com/jeal0uspengu1n" class="fa fa-twitter"></a>
    <a href="https://github.com/jeal0uspengu1n" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/sutej-s-90177a134//" class="fa fa-linkedin"></a>
  </div>
</footer>
</html>
